<div align="center"><br><h1>Menu principal</h1>  </br>

<br>
<select>
     <option value="Ramos">ASIGNATURA</option>
  <option value="MD">MD</option>
  <option value="iHM">IHM</option>
  <option value="EMG">Electromagnetismo</option>
</select>
</br>
<br>
<select>
 <option value="Competencias">COMPETENCIA</option>
  <option value="competencia A">competencia1</option>
  
</select>
</br>
<br>
<select>
  <option value="indicador">INDICADOR</option>
  <option value="Indicador A">indicador1</option>
  <option value="Indicador B">indicador2</option>
  <option value="Indicador C">indicador3</option>
</select>
</br>
<br>
<select>
  <option value="volvo">GRAFICA</option>
  <option value="saab">grafica1</option>
  <option value="mercedes">grafica2</option>
  <option value="audi">grafica3</option>
</select>
</br>

<%= link_to image_tag("foto1.jpg", alt: ""),
            'http://rubyonrails.org/' %>
</div>